[submodule "extension/lvgl"]
	path = extension/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v9.3
[submodule "extension/eez-framework"]
	path = extension/eez-framework
	url = https://github.com/eez-open/eez-framework.git
